
.page-center{
    justify-content: center;
}

.infoblocks-container{
    display: flex;
    flex: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    justify-content: center;
    margin-top: 3%;
}

.grid-container{
    display: grid;
    width: 40%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 4fr 4fr 4fr;
    background-color: rgb(119, 18, 18, 0.836);
    color: white;  
    border: 2px solid white;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 40px;
}

.grid-container-two{
    display: grid;
    width: 40%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 4fr;
    background-color: rgb(119, 18, 18, 0.836);
    color: white;  
    border: 2px solid white;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 40px;
}


.grid-container:last-of-type,
.grid-container-two:last-of-type{
    margin-bottom: 40px;

}
.grid-container a, 
.grid-container-two a
{
    font-size: 25px;
    border: 1px solid white;
    height: 100%;
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding-top: 25%;
    text-decoration: none;
    color: white;
}

.grid-container a:hover,
.grid-container-two a:hover{
    text-decoration: underline;
    background-color: teal;
}

.module{
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 25px;
    border: none;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.infoblocks{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    height: 500px;
    width: 80%;
}
    
.infoblocks-button{
    display: flex;
    justify-content: center;
    align-items: center; /* aligns text vertically within button */
    font-size: 40px;
    background-color: rgb(228, 173, 70);
    width: 30%;
    height: 30%;
    margin-top: 50px;
    margin-bottom: 50px;
    border-style: solid;
    color: rgba(119, 18, 18, 0.836);
    text-decoration: none;
  }

.infoblocks-button-large{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-size: 30px;
    background-color: rgb(10, 43, 75);
    width: 600px;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-style: solid;
    border-color: black;
    color: white;
}

.infoblocks-button:hover{
    border-style: none;
    text-decoration: underline;
}
