
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Assistant', sans-serif;   
    background-color:white;
    color: rgb(119, 18, 18, 0.836);
}

h1{
    color: black; 
    margin: 0px;
    font-size: 40px;
    padding-top: 2%;
    padding-bottom: 2.5%;
    font-weight: bold;
}

h2{
    padding-top: 10px;
    text-align: center;
}

a {
    text-decoration: underline;
}

a:hover{
    text-decoration: none;
}

.center{
    text-align: center;
    margin: 0 auto;
}

.menu a{
    color: white;  
}

.menu{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    background-color: #00395b;
    font-size: 20px;
    color: white;
    z-index: 1000;
}

.menu > li:last-of-type {
  margin-right: 2%;
}

.menu > li:hover{
    color: rgb(0, 1, 8);
}

.menu > ul{
    color:rgb(1, 9, 15);
    display: none;
    flex-direction: column;
    border-radius: 5px;    
    position: absolute;
    z-index: 1;
}

.menu ul li{
    list-style-type: none;
    border-bottom: 1px solid black;
    padding: 0 20px 5px 10px;
    margin: 10px;
    font-size: 15px;
}

.menu ul li:last-of-type{
    border-bottom: none;
    padding-bottom: 0;
}

.menu ul li:hover{
    text-decoration: underline;
}

.dropdown-dropdown{
    color:rgb(1, 9, 15);
    display: none;
    flex-direction: column;
    border-radius: 5px;    
    position: absolute;
    z-index: 1;
}

.dropdown-again:hover{
    background-color: teal;
}

.dropdown-again:hover .dropdown-dropdown{
    display: flex;
}

header{
    display: flex;
    text-align: center;
    border-bottom: solid rgb(119, 18, 18, 0.836) 0.6px;
    color: black;  
    padding-bottom: 10px;
}

.logo{
    position: absolute;
    margin-left: -10%;    
}

.logo-img{
    width: 30%;
    height: auto;
}

footer{
    height: auto;
    width: 100%;
    font-size: 25px;
    line-height: 50px;
    font-style: italic;
    border-top: solid rgb(119, 18, 18, 0.836) 0.6px;
    position: absolute;
    bottom: 1%;
}

.infoblocks-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
}

.infoblocks{
    padding-right: 50px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 100%;
    flex-wrap: wrap;
}
    
.infoblocks-button{
    display: flex;
    justify-content: center;
    align-items: center; /* aligns text vertically within button */
    border-radius: 30%;
    font-size: 40px;
    background-color: rgb(228, 173, 70);
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-style: solid;
    border-width: 1px;
    color: rgba(119, 18, 18, 0.836);
    text-decoration: none;
  }


.infoblocks-button:hover{
    border-style: none;
    text-decoration: underline;
    background-color: rgb(226, 162, 42);
    color: rgba(119, 18, 18, 0.836);
}
