
*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(211, 233, 240);
    color: rgb(119, 18, 18, 0.836);
}

h1{
    color: rgb(1, 9, 15); 
    margin: 0px;
    font-size: 50px;
    padding-top: 2%;
    padding-bottom: 2%;
}

h2{
    padding-top: 10px;
    text-align: center;
}

a {
    text-decoration: underline;
}

a:hover{
    text-decoration: none;
}

.center{
    text-align: center;
    margin: 0 auto;
}

.menu a{
    color: white;  
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    border-bottom: solid black;
    border-width: 3px;
    background-color: rgb(119, 18, 18, 0.836);
    text-align: center;
    font-size: 25px;
    color: white;
    padding: 20px 0 20px 0;
    position: fixed;
    width: 100%;
}

.menu > li {
  display: inline;
  margin-right: 20px;
}

.dropdown{
    position: relative;
    z-index: 1;
}

.dropdown > span{
    z-index: 2;
    position: relative;
    cursor: pointer;
}

.dropdown-list{
    display: none;
}

.dropdown:hover .dropdown-list{
    color:rgb(1, 9, 15);
    flex-direction: column;
    border-radius: 5px;
    padding-top: 60px;
    position: absolute;
    top: 30px;
    left: 20px;
    background-color: rgb(119, 18, 18, 0.836);
    display: flex;
}

.dropdown-list li{
    list-style-type: none;
    border-bottom: 1px solid white;
    padding: 0 30px 10px 20px;
    margin: 10px;
    font-size: 15px;
}

.dropdown-list li:last-of-type{
    border-bottom: none;
}



header{
    display: flex;
    text-align: center;
    border-bottom: solid;
    padding-top: 75px;
}

.logo{
    position: absolute;
    margin-left: -10%;    
}

.logo-img{
    width: 30%;
    height: auto;
}

footer{
    height: auto;
    font-size: 25px;
    line-height: 50px;
    font-style: italic;
    border-top: solid;
}

.video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 75%;
    height: auto;
    padding: 0px;
    border-style: solid;
    border-color:rgb(184, 182, 182) ;
}


hr{
    margin-left: auto;
    margin-right: auto;
    color:rgb(6, 7, 7);
}

.page-center{
    justify-content: center;
}

.infoblocks-container{
    display: flex;
    flex: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    justify-content: center;
    margin-top: 3%;
}

.grid-container{
    display: grid;
    width: 40%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 4fr 4fr 4fr;
    background-color: rgb(119, 18, 18, 0.836);
    color: white;  
    border: 2px solid white;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 40px;
}

.grid-container-two{
    display: grid;
    width: 40%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 4fr;
    background-color: rgb(119, 18, 18, 0.836);
    color: white;  
    border: 2px solid white;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 40px;
}


.grid-container:last-of-type,
.grid-container-two:last-of-type{
    margin-bottom: 40px;

}
.grid-container a, 
.grid-container-two a
{
    font-size: 25px;
    border: 1px solid white;
    height: 100%;
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding-top: 25%;
    text-decoration: none;
    color: white;
}

.grid-container a:hover,
.grid-container-two a:hover{
    text-decoration: underline;
    background-color: teal;
}

.module{
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 25px;
    border: none;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.infoblocks{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    height: 500px;
    width: 80%;
}
    
.infoblocks-button{
    display: flex;
    justify-content: center;
    align-items: center; /* aligns text vertically within button */
    font-size: 40px;
    background-color: rgb(228, 173, 70);
    width: 30%;
    height: 30%;
    margin-top: 50px;
    margin-bottom: 50px;
    border-style: solid;
    color: rgba(119, 18, 18, 0.836);
    text-decoration: none;
  }

.infoblocks-button-large{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-size: 30px;
    background-color: rgb(10, 43, 75);
    width: 600px;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-style: solid;
    border-color: black;
    color: white;
}

.infoblocks-button:hover{
    border-style: none;
    text-decoration: underline;
}
